accelerate
beautifulsoup4
bitsandbytes
datasets
deepspeed
evaluate
faiss-cpu
fastapi
fitz
flagembedding
folium
geopandas
google-search-results
gradio
graphviz
huggingface-hub
ipykernel
langchain
langchain-community
langchain-openai
langgraph
langsmith
lm-cocktail
matplotlib
nbformat
numpy
openai
opensearch-py
pandas
pdfplumber
peft
pillow
pingouin
plotly
pydantic
pymongo
pymupdf
pymysql
pypdf
python-dotenv
requests
scikit-learn
scipy
seaborn
selenium
sentence-transformers
statsmodels
streamlit
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
tqdm
transformers
triton
trl
unsloth
uvicorn
vllm==0.9.1
wandb
wordcloud